<div class="container-fluid">
  <button id="addMemberButton" class="btn btn-primary pull-right"  [routerLink]="['/members/new']">Add Member</button>
  <table class="table">
    <thead>
      <tr>
        <th>Member ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Job Title</th>
        <th>Racing Team</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor='let member of members'>
        <td>{{member?.id}}</td>
        <td>{{member?.firstName}}</td>
        <td>{{member?.lastName}}</td>
        <td>{{member?.jobTitle}}</td>
        <td>{{member?.team}}</td>
        <td>{{member?.status}}</td>
        <td><a id="editMemberButton" class="btn btn-success " [routerLink]="['/members/',member?.id]">Edit</a></td>
      </tr>
    </tbody>
  </table>
</div>
